[2016-10-15 01:50] nickbalestra opened #2 "Flavor discover method"
I think that at some point we should aim to bring the flavor-discovery mechanism within the create-cycle-app scope and not dependent on external gists? Would make it easier to maintain.

Any thoughts?

[2016-10-15 01:51] nickbalestra opened #3 "Continuos integration"
We could perhapsh hook in travis or similar, so that we run at least the test against each PR, what you are your toughts in this direction?

[2016-10-15 01:58] nickbalestra opened #4 "Rethinking scripts post take-off-training-wheels"
While working ont he es6-webpack flavour I noticed that would be nice to be able to have a cleaner post `take-off-training-wheels.js` version of the scripts.

At the moment we simply move them in the .scripts folder and we reference them wihin the package.json scripts field.

Some of them could be simply rewritten as cli cmds within the npm script, together with some files being created whenever n

[2016-10-15 02:05] geovanisouza92 commented on #2
I think it's a nice idea. I just used a gist for sake of simplicity, but having aother mechanism, like tracking keywords on npm or having a real registry it's event better.

[2016-10-15 02:09] geovanisouza92 commented on #3
I think that travis is a good choice.

- For the `start` script could be just e2e test to check if the app is rendering as expected without errors
- For `test` if it runs without error code
- For `build`  if it runs without error code and produces the expected files
- For `take-off-training-wheels` if it updates the `package.json` and place scripts correctly

[2016-10-15 02:17] geovanisouza92 commented on #4
Yeah, this is something that I thought while working at the first flavor. As I took `create-react-app` as reference, and it only have a single bloated `react-scripts`, this is something that I leave to be addressed later.

Each flavor is completely independent, and could evolve freely, so, while maintaining the same contract with other flavors, each script could do what is more suitable for each c

[2016-10-15 03:09] nickbalestra commented on #3
Make sense indeed.

Sounds like a plan to me.
I'll look into adding this next week

[2016-10-15 03:22] nickbalestra commented on #2
I was thinking about tracking keywords on npm as well, but to start with I will probably simply limit discovery to the ones that come bundled with the app, the basic ones.

For the others we could track npm keyboard and mantain an updated list of the ones availables on the readme, with a generic instruction on how to use those as well. (Later on we could add a step explicitly asking the user if he

[2016-10-15 03:24] nickbalestra commented on #4
Totally agree.
On a side note, I see we don't have any labels for issues, perhaps we want to add just a couple of labels for basic things, like `nice to have`, `bug`, `discussion`, ... ?

[2016-10-15 12:54] nickbalestra opened #6 "Add TypeScript + Webpack flavor"
- cycle-scripts-ts-webpack: TypeScript + Webpack

[2016-10-15 21:08] geovanisouza92 commented on #4
Yeah, I just added the default labels, but I'm thinking if makes sense to create more, like @staltz did on cyclejs monorepo... That is a bigger project, with lot contributions caming from everywere, so, I think that was a must.

[2016-10-15 21:34] #6 closed

[2016-10-16 15:04] geovanisouza92 opened #9 "Refer on cycle.js.org"
Include some information at cycle.js.org site about CCA tool.

[2016-10-17 09:58] geovanisouza92 opened #10 "Integration with Widdershin/Tyicycle"
**Code to reproduce the issue:**

**Expected behavior:**

**Actual behavior:**

**Versions of packages used:**

[2016-10-18 00:17] geovanisouza92 opened #11 "Investigate possible use of yarn instead npm, when present"

[2016-10-18 01:14] geovanisouza92 commented on #10
Related to https://github.com/Widdershin/tricycle/issues/5

[2016-10-18 09:17] cloud-walker opened #12 "port 8000 is not documented"
The development server that start on `npm start` will listen on port **8000** but is not documented anywhere.

[2016-10-18 09:37] geovanisouza92 commented on #12
Good point, I'll take care of this. Thank you for reporting.

[2016-10-18 09:39] cloud-walker commented on #12
I'm happy to help, but for now I'm not too confident with the package

[2016-10-18 09:51] #12 closed

[2016-10-18 09:53] geovanisouza92 commented on #12
@cloud-walker You are already helping :)

You could take a look on other issues and provide your thoughts.

Feel free to open more issues and PRs.

[2016-10-18 10:01] geovanisouza92 commented on #9
Done in https://github.com/cyclejs/cyclejs.github.io/pull/65

[2016-10-18 10:01] #9 closed

[2016-10-18 10:45] geovanisouza92 opened #14 "Using ES6 on tests"
**Code to reproduce the issue:**
Use `import` (or any other ES6 syntax) on `app.test.js`

**Expected behavior:**
It runs the tests

**Actual behavior:**
It fails due mocha is not configured to support ES6.

**Versions of packages used:**
N/A

Reported on #13

[2016-10-18 22:16] geovanisouza92 commented on #11
I've made some tests with yarn under yarnify branch, but due to https://github.com/yarnpkg/yarn/issues/760 and https://github.com/yarnpkg/yarn/issues/620, among other issues, this is not yet a seamless change.

For now, we must wait, at least the cited issues be solved.

Anyone reading this, feel free to try further and make a PR. :)

[2016-10-18 22:24] nickbalestra commented on #11
Nice, thanks for the update.

[2016-10-18 22:39] #14 closed

[2016-10-18 23:11] Widdershin opened #16 "New flavor"
Hi! Just opening an issue to say that I've created a new flavor:

https://github.com/Widdershin/cycle-scripts-widdershin

It's based off of es-browserify, but has an eslint config for semicolons, a separate test directory, includes babel-plugin-transform-object-rest-spread and a few more things.

If you like, I would love to have it on the list in the README.

Thanks!

[2016-10-18 23:19] geovanisouza92 commented on #16
Really nice @Widdershin !

Feel free to make a PR for the README.

We are discussing a better way to handle the discovery in #8, eliminating the current gist. Feel free to share your thoughts there. :)

[2016-10-18 23:22] nickbalestra commented on #16
Noice @Widdershin !!!
@geovanisouza92 I'll try to put sometime for this(#8) together tomorrow evening so that we can roll it out.

[2016-10-18 23:28] nickbalestra opened #17 "Flavor READMEs"
Expand the actual READMEs for the core flavor, with a structure that cen be borrowed by others when creating a flavor, ie: https://github.com/Widdershin/cycle-scripts-widdershin/blob/master/README.md

@geovanisouza92 @Widdershin
What are your thoughts on the structure of a flavor readme?

I think it should list:
- file structure
- language/bundler support
- scripts
- usage
- secret sauce? (what is

[2016-10-19 16:44] nickbalestra commented on #3
So I was thinking a bit more and i guess that each flavor should come with some test, namely to check that the following runs correctly `for each streamLib option`:

- [ ] init -> it generate file structure and files correctly
- [ ] start -> e2e test to check if the app is rendering as expected
- [ ] test -> runs without error code
- [ ] build -> produces the expected files
- [ ] take-off-training

[2016-10-19 16:47] nickbalestra opened #18 "Using ES6 on tests with the es6-browserify core flavor bug"
Code to reproduce the issue:
Use import (or any other ES6 syntax) on app.test.js

Expected behavior:
It runs the tests

Actual behavior:
It fails due mocha is not configured to support ES6.

Versions of packages used:
N/A

Reported on #13
Was fixed for the es6-webpack core flavor in #15 similar solution need to be applied to es6-browserify pack

[2016-10-19 20:42] nickbalestra commented on #4
Nice job with labels, me likes it 💯 !
#19 and #15 address this issue in regards to how we handle `.babelrc` config files.

TODO: make sure webpack based flavors also properly generates:
- [ ] webpack.config.js
- [ ] webpack.production.config.js

[2016-10-19 21:01] nickbalestra opened #20 "GH urls"
Fix various url scattered throughout the mono-repo to point to cyclejs-community/create-cycle-app ([example](https://github.com/cyclejs-community/create-cycle-app/blob/master/create-cycle-app/package.json#L25)).

[2016-10-19 21:21] nickbalestra opened #22 "Refer on awesome-cyclejs"
Include some information at https://github.com/cyclejs-community/awesome-cyclejs about CCA tool.

[2016-10-19 21:38] nickbalestra commented on #22
Done in: https://github.com/cyclejs-community/awesome-cyclejs/pull/73

[2016-10-19 21:38] #22 closed

[2016-10-19 22:26] #18 closed

[2016-10-19 22:27] #20 closed

[2016-10-19 22:53] #2 closed

[2016-10-19 23:20] nickbalestra commented on #16
@Widdershin your flavor is in!
To give it a spin, just update create-cycle-app and run it, select `discover more...` under the flavor options and you will see that a `Widdershin` flavor will be available (it will be pulled and installed from your repo).

I didn't know how to properly name it, so if you feel, free to change it in something more meaningful for others [here](https://github.com/cyclej

[2016-10-19 23:49] #16 closed

[2016-10-20 01:08] geovanisouza92 commented on #3
I'm experimenting with this under `automated-tests` branch

[2016-10-20 19:30] nickbalestra opened #24 "Discovery flavors on npm registry"
- Implement further the flavor discovery logic by relying on npm as a registry.
- Use the keyword `create-cycle-app-flavor` to discover community flavors.
- Keep coreFlavors.json for the core flavors.

[2016-10-21 00:21] nickbalestra opened #26 "Contribution guidelines"
Add contributions docs explaining how to contribute and how to create community flavors that are discoverable by create-cycle-app

[2016-10-21 00:21] nickbalestra commented on #26
Also clean README and link to guidilines there.

[2016-10-21 02:01] #24 closed

[2016-10-21 02:16] geovanisouza92 commented on #3
Progress: Overall tests are placed, still missing some specific flavor's checking. E2E tests with Zombie.js fails oddly (ok, fail, ok, fail, ok, fail) (suspects include budo and browserify latency).

[2016-10-21 02:31] nickbalestra commented on #3
Awesome. I'll give it a go tomorrow, and try to investigate issues

[2016-10-21 02:41] geovanisouza92 commented on #3
Note to self: move tests to root folder

[2016-10-21 12:42] nickbalestra opened #27 "Add --initFlavor"
Would be nice if the create-cycle-app CLI could have a command to init an empty flavor structure for the ones who want to start creating their own flavors. ie:

`$ create-cycle-app --initFlavor path/of/the/newFlavor`

@geovanisouza92 what you think?

[2016-10-21 16:19] geovanisouza92 commented on #27
Nice idea!

[2016-10-22 11:48] nickbalestra opened #28 "Improve readme"
Improve readme documentation making sure it reflect latest 1.0

[2016-10-22 14:09] nickbalestra opened #30 "Better dev output for webpack"
For the core webpack based flavors:
 - silence verbose output on build (as per https://github.com/webpack/webpack/issues/1191#issuecomment-157148084)
 - output server address once started (via a compiler plugin as per https://webpack.github.io/docs/plugins.html)

[2016-10-22 15:14] #30 closed

[2016-10-22 16:32] #28 closed

[2016-10-22 16:32] #17 closed

[2016-10-22 16:32] #26 closed

[2016-10-25 21:00] nickbalestra opened #32 "Porting xstream-boilerplate to create-cycle-app flavor"
As per discussion on https://github.com/cyclejs-community/xstream-boilerplate/issues/233

[2016-10-26 12:09] geovanisouza92 commented on #32
I was thinking, as xstream-boilerplate is, as name suggests, xstream-focussed, this could raise the idea about limiting flavors by its supported stream-libs, otherwise, this will force flavors to support multiple stream libraries.

For the core flavors, this is a must, but for private/personal flavors that could be used by anyone, this could be annoying, considering that, if I prefer to use one li

[2016-10-26 23:25] Widdershin commented on #32
I would also quite like to limit my flavor to xstream only.

[2016-10-27 07:10] nickbalestra commented on #32
Yes, I totally agree. We should have a way to opt-out from streamlib selection, in the case that a flavor only want to support one (it makes a lot of sense indeed for custom flavors)

[2016-10-27 07:13] nickbalestra opened #33 "Limit stream library support within a custom flavor"
Custom flavors should be able to inform about the supported stream libs, opting out from the stream library selection in case only 1 is supported.

[2016-10-27 14:44] nickbalestra commented on #33
@geovanisouza92  @Widdershin I've been thinking about this...

tl;rd: imho custom flavors should come full battery included (no options for the end uses to mix them with a stream library of their choice)

Rationale: 3rd part flavors (no core-flavors) shouldn't be able to hook into the `streamLibQuestion` at all. Being able to mix and match stream libraries make sense at a core-flavor level but not

[2016-10-27 22:52] Widdershin commented on #33
That totally works for my usecase. Maybe we could do that in the short term, and if anyone in future wants to support multiple stream libraries in a custom flavor we could revisit it.

[2016-10-27 22:54] nickbalestra commented on #33
Totally reasonable, me likes that plan!
I'll try to get this out of the door in the upcoming days.

[2016-10-31 10:23] #33 closed

[2016-11-03 12:30] geovanisouza92 commented on #11
Both issues are closed now. It seems that still needs a new release from yarn, but I'll check this again asap.

[2016-11-11 20:12] nickbalestra opened #38 "Renaming take-off-training-wheels scripts"
Rename `take-off-training-wheels` into `eject`

[2016-11-13 00:35] nickbalestra opened #40 "streamLib"
I noticed that now that we don't have the streamLib choosing step anymore for non-core flavors, we cannot use the core flavors with the --flavor flag.

@geovanisouza92 , although maybe this is a non-issue it made me think that perhaps flavors should be the ones specifying if a streamLib choosing step is needed (if streamLibs supported > 1). What will you suggest?

[2016-11-14 14:07] #38 closed

[2016-11-14 14:08] geovanisouza92 commented on #40
I agree. We just need to find the API change to make them work seamlessly.

[2016-11-14 20:02] ajmchambers opened #41 "TypeScript flavours giving error on npm start"
**Code to reproduce the issue:**

Ok so did some more testing:
On mac, with the same node and npm version it works fine. However when in windows (10) it gives the TypeScript error.

[code]

Select Typescript + Browserify and Xstream

[code]

**Expected behavior:**

Should start normally.

**Actual behavior:**

Getting Typescript error:

[code]

**Versions of packages used:**

- node v6.9.0
- npm 3

[2016-11-14 20:42] ajmchambers commented on #41
Not sure why, but adding: `"typeRoots" : ["./node_modules/@types"]` into the `tsconfig.json`'s `"compilerOptions"` makes it work.

[2016-11-14 21:03] ajmchambers commented on #41
Some more testing:
The webpack flavour is working fine actually (could have sworn it didn't work for me but its working with a fresh attempt - I may have picked the wrong option or something).

So it may be an issue with the browserify `tsify` package, this issue seems relevant:
https://github.com/TypeStrong/tsify/issues/208

[2016-11-14 21:59] geovanisouza92 commented on #41
@ajmchambers could you confirm which typescript version are you using?

[2016-11-14 22:52] ajmchambers commented on #41
[code]

I still think it's a bug with `tsify`.

I've been running through the debugger in vscode comparing the browserify version against the webpack version and have noticed some differences.

![comparison](https://cloud.githubusercontent.com/assets/5426717/20285985/9d013d48-aabc-11e6-9ff8-5e761beb9ba6.png)

The browserify version in the left has:
`fileName:"node_modules/@cycle/dom/lib/isolateMod

[2016-11-14 23:22] ajmchambers commented on #41
(just some more notes)

Comparing `rootFiles` in mac (left) against windows (right):

![rootnamescomparison](https://cloud.githubusercontent.com/assets/5426717/20286813/add026bc-aac0-11e6-96b8-5c8ce6b16e39.png)

For some reason the windows side is missing the 3 `@types` for core-js, mocha, and node.

[2016-11-17 09:12] ajmchambers commented on #41
This has been fixed for me with tsify 2.0.3, closing this issue.

[2016-11-17 09:12] #41 closed

[2016-11-17 09:50] geovanisouza92 commented on #41
Good to hear, @ajmchambers! Please, report any other issues you found in the future.

[2016-11-17 14:11] ajmchambers commented on #41
Cheers, will do. (and btw thanks for making this tool, love it)

[2016-11-24 04:04] Widdershin opened #42 "test directory is in .gitignore"
For the browserify templates, both of them have the `test` directory present in the `.gitignore`.

This seems incorrect to me, as users will write tests that won't be committed. This is also silent, so easy to not notice.

Was there a reason or shall we just fix it?

[2016-11-24 07:01] nickbalestra commented on #42
@Widdershin I think this shouldn't be there indeed. Thanks a lot for reporting it!

[2016-11-24 10:01] #42 closed

[2016-11-24 10:01] geovanisouza92 commented on #42
Thanks for both!

I have no idea why I put that in first place :joy:

[2016-11-24 15:25] geovanisouza92 opened #44 "Replace northbrook"
There are some bugs with northbrook, like:

- Sometimes it doesn't detect changes made on a single package, because it just look for changes from the latest tag, instead of "latest tag for package X"
- If you type the wrong password on `npm release`, causing an error, it assumes that the release was made (it should be transactional)

Some options are:

- Lerna
- Raw scripts

[2016-12-02 23:06] Widdershin opened #46 "License details are empty"
Hi!

Just checked out the LICENSE and I see that the [name] and [year] still need to be filled out.

https://github.com/cyclejs-community/create-cycle-app/blob/master/LICENSE#L3

This is probably worth doing 😄

[2016-12-03 08:22] nickbalestra commented on #46
Thank you Nick!

[2016-12-05 10:05] #46 closed

[2016-12-08 08:41] Widdershin commented on #10
I thought I might write down some of the underlying user stories I can think of:

As a tricycle user
 * I want to be able to save my app online and have a link I can share
 * I want to be able to download my app into a full blown project using create-cycle-app so I can continue working on it

As a create-cycle-app user
 * I want to be able to easily upload my app to share it, so I can get help or

[2016-12-08 09:37] geovanisouza92 commented on #10
I think that this cover the most common use cases. I cannot see any problems til now.

[2016-12-10 00:21] nickbalestra commented on #10
Good points @Widdershin!
In that scenario how do you envision streamLib diversity/support (xstream/rxjs/most/) ?
(I'm not aware how this is handled atm in tricycle)

[2016-12-10 20:55] wmaurer opened #49 "Webpack build fails with Typescript 2.1"
**Code to reproduce the issue:**
$ `create-cycle-app my-app` with `TypeScript + Webpack`
$ `npm i typescript --save-dev` (installs typescript 2.1)
$ `npm start`

**Expected behavior:**
No errors ;-)

**Actual behavior:**
Error message with partial trace:
[code]

**Versions of packages used:**
create-cycle-app 1.0.0
typescript 2.1

I can confirm that this does not occur with typescript 2.0.10.

[2016-12-10 21:19] wmaurer commented on #49
Ok, I've found a solution to this problem in case anybody else comes across it. `awesome-typescript-loader` needs to be upgraded to a version that supports `typescript 2.1`.

At the time of writing, the latest version is `awesome-typescript-loader@3.0.0-beta.10`

ref: https://github.com/s-panferov/awesome-typescript-loader/issues/190

[2016-12-12 10:22] geovanisouza92 commented on #49
@nickbalestra can you take a look at this and update that dependency? :)

[2016-12-12 10:31] nickbalestra commented on #49
Thanks @wmaurer for reporting this!
@geovanisouza92 sure! Just an idea: but maybe is worth considering to add greenkeeper?

[2016-12-12 10:54] geovanisouza92 commented on #49
Ok, let's open another issue as an enhancement.

Em seg, 12 de dez de 2016 08:31, Nick Balestra <notifications@github.com>
escreveu:

[2016-12-12 15:45] nickbalestra opened #50 "Greenkeeper"
Integrate [greenkeeper](https://greenkeeper.io/) for helping with keeping dependencies up to date

[2016-12-12 22:52] Widdershin commented on #50
Let me know if you need me to enable greenkeeper at an organizational level.

[2016-12-12 23:41] nickbalestra commented on #50
Sure thing @Widdershin, thanks!

[2016-12-13 01:58] Widdershin commented on #50
I've enabled greenkeeper for this repository, hopefully it starts working.

If anyone else sees this and would like greenkeeper enabled, let me know. I do have the option to enable it for all repos, but I think I'll do it on request for the moment.

[2016-12-13 03:04] nickbalestra commented on #50
Thank you so much @Widdershin, I'll digg it in the following days.

Perhaps you want to post your message also [here](https://github.com/cyclejs-community/cyclejs-community/issues) ?

[2016-12-13 10:06] #49 closed

[2016-12-13 10:07] geovanisouza92 commented on #50
Let's keep this open until confirm that greenkeeper is working as intended :)

[2016-12-13 10:08] geovanisouza92 commented on #40
Just noticed that removing the option for streamLib on command line make hard to test manually the flavors... :/

[2016-12-13 10:35] nickbalestra commented on #40
I know, thats what we should fix this, and really add testing

[2016-12-31 19:40] SteveALee opened #53 "Cursor navigation not working with MYSYS shell"
**Code to reproduce the issue:**
when running
```create-cycle-app my-awesome-cycle-app```
in WIndows Msys bash shell that comes with GitHub Desktop App (atually Msys from MinGW that comes with Git for Windows) the arrow keys and color do not work

**Expected behavior:**
Arrow keys work and highlight colour

**Actual behavior:**
No colour and arrow keys do not function

**Versions of packages used:

[2017-01-01 14:28] SteveALee opened #54 "Is the formatCodeOptions section in tsconfig.json valid?"
The tsconfig.json contains a ```formatCodeOptions```
https://github.com/cyclejs-community/create-cycle-app/blob/master/cycle-scripts-ts-webpack/template/tsconfig.json#L13-L16

But that is not in the offical TS docs or schema?
https://www.typescriptlang.org/docs/handbook/tsconfig-json.html
http://json.schemastore.org/tsconfig

It seems therefore to be invalid.

FYI I noticed this as Visual Studio C

[2017-01-01 14:44] SteveALee commented on #54
These days [EditorConfig](http://editorconfig.org/) is widely supported and might be a better option if the intention is to contriol editors formatting.

[2017-01-02 15:05] SteveALee opened #55 "ES6 + Webkit flavour doesn;t have "eject""
rather it has remove-training-wheels

[2017-01-02 23:13] nickbalestra commented on #55
Thanks @SteveALee for reporting this, it seems that something is off with the publishing of the latest releases.
@geovanisouza92 Anything to consider before I go ahead and manually publish all the latest releases? Perhaps is time to deep dive on #52 or #44 ?

[2017-01-02 23:18] nickbalestra commented on #54
I agree with @SteveALee on the `formatCodeOptions` being part of an editorConfig instead, any reason why you added it there initially @geovanisouza92 ?

[2017-01-03 11:01] SteveALee commented on #54
Looking around the few TS examples for cycle they often have it. My guess is it got put there by a tool in an old example and then was copied.

[2017-01-03 11:38] SteveALee opened #56 "A few questions on project development"
This is a great tool! Keeping config out of sight is great for beginners. But like all 'magic' I worry about it as I'm likely to have to understand/maintain it at some point. Mind you magic is a lot less of a problem with build tools than live code (I chose cyclejs over the excellent MobX as I felt that had a bit too much magic, I might review that - heh).

So a few questions came up as someone ne

[2017-01-03 11:43] SteveALee opened #57 "How about an example for a component or driver?"
I've just been exploring how to create and publish a driver / component as a module. I want to use typescript but enable the usual commons/ES6 import options form JavaScript but expose typings for TS use and intellisense in tools like VS Code. I don't think they would ever need to be uses as global scripts so AMD no needed.

This appears to be a non trivial config and rummaging around the cycles c

[2017-01-03 11:54] SteveALee commented on #57
Just thought that this is **create-cycle-app** but as cycle is fractal and a component can be an app it's not a totally stupid suggestion :)

Drivers don't really fit though but I prefer one tool an not an extra **create-cycle-driver**

[2017-01-03 12:21] SteveALee commented on #57
For reference This is a good general example I found on the topic of TS libraries with webpack

https://github.com/adrianhall/example-typescript-webpack
https://shellmonger.com/2016/03/11/creating-javascript-libraries-with-typescript-and-webpack/

I could have a go at making it a flavour

[2017-01-04 08:35] nickbalestra commented on #57
@SteveALee cool!  We do support flavor [discovery](https://github.com/cyclejs-community/create-cycle-app#discovering-published-flavors): https://github.com/cyclejs-community/create-cycle-app#publish. Feel free to go ahead and open a PR once you have your flavor published adding it to the example list in the [docs](https://github.com/cyclejs-community/create-cycle-app#example)

Let me know if I can

[2017-01-04 08:50] nickbalestra commented on #56
hehe you very welcome!

1. Yes it could (only for the core-flavors). How offten it will depends, we have no rules in this regard yet. For custom flavors this is will be done by the owner/maintainers.

2. It depends, if you don't need much changes from what the core-flavors offer you, then is just fine not to eject, especially cause this could result in 'free' updates coming down for you (^ point 1

[2017-01-04 09:58] SteveALee commented on #57
Ok but it will be a little while. I'll close this issue to avoid clutter

[2017-01-04 09:58] #57 closed

[2017-01-04 10:06] SteveALee commented on #56
yes they helped thanks

I'll make a minor PR to readme

I agree the main use case should be easy bootstrap. But also imagining a more advanced workflow like this:

  Use existing flavour -> [opt eject] -> modify config or flavour -> create custom flavour -> publish

And was trying to figure how that might work.

[2017-01-04 10:06] #56 closed

[2017-01-04 10:10] SteveALee opened #58 "Add CSS to core flavours"
Any real app will use CSS (or something that compiles to it) for styling, not just code managed classes used for DOM event hooks or component isolation. However the built in flavors have no CSS at all.

A minimum would be to simply provide a static ```styles.css``` refed from ```index.html```

A more useful example might be to use webpack loaders - but there are many options even with the basics.

[2017-01-04 10:43] nickbalestra commented on #57
Sure, no rush, feel free to open another issue in this regard whenever you feel :)

[2017-01-04 11:48] geovanisouza92 commented on #56
I would really like to see something like this "create flavor from project"

Em qua, 4 de jan de 2017 08:06, Steve Lee <notifications@github.com>
escreveu:

[2017-01-04 11:49] geovanisouza92 commented on #58
Another option is use freestyle (or typestyle) directly from the current
JS-focused setup. We need to find what is the more common option the
community uses...

Em qua, 4 de jan de 2017 08:10, Steve Lee <notifications@github.com>
escreveu:

[2017-01-04 12:34] nickbalestra commented on #56
@geovanisouza92 @SteveALee I think this issue: https://github.com/cyclejs-community/create-cycle-app/issues/27 could be somehow related. I like the idea too. Let's bring the conversation there

[2017-01-04 12:43] SteveALee commented on #58
Free-style looks interesting but probably too complex.

As an aside, I'm looking for a way to declare component specific css but simple dom updates to style sheets might be easier

[2017-01-04 12:53] SteveALee commented on #58
Ooh, typestyle looks great.

As you say though we need to know what community are using.

[2017-01-08 19:16] nickbalestra commented on #58
+1 on typestyle

[2017-01-08 19:41] nickbalestra opened #60 "Rethinking CCA"
@Widdershin @geovanisouza92 @TylorS

I think we should somehow rethink some parts of create cycle app. I'm referring to core flavors.
Imho we try to accomodate to many options, and I think that if the aim of create-cycle-app is allowing people to get up and start quickly with cycle then it shouldn't make the user think about which xlib to use, which bundle/language ecc.. but simply kickstart him.

[2017-01-08 21:55] geovanisouza92 commented on #60
Besides all the issues and criticism that people raise against the initial approach, I doesn't have any problems with it, but, as I've used it too little recently, I may be blind to what community expect/find with the current tool.

Considering that cyclejs/cyclejs#425 could came to life any time, what could simplify all the project, CCA can also benefit from it.

So, I would love to head what any

[2017-01-08 21:56] geovanisouza92 commented on #55
Nope, you can move on :smiley:

[2017-01-08 21:58] geovanisouza92 commented on #54
Probably I copied from cyclejs examples...

+1 for Editor Config

[2017-01-08 22:00] geovanisouza92 commented on #53
@SteveALee This seems to be an odd behavior, with really low priority. Considering that we use sboudrias/Inquirer.js for that part of the cli, I think that you could find more answers/workarounds there.

[2017-01-08 22:00] #53 closed

[2017-01-08 22:00] nickbalestra commented on #44
Can I close this @geovanisouza92 ?

[2017-01-08 22:02] geovanisouza92 commented on #44
I think that we could close when #52 was confirmed as a solution for the problems that we have currently

[2017-01-08 22:04] geovanisouza92 commented on #58
@SteveALee We should also decide if component-specific CSS should be handled in the markup-level (html, css imports) or bundler-level (webpack, e.g.).

[2017-01-08 23:29] nickbalestra commented on #58
I really like how it was done here:
https://github.com/wmaurer/cyclejs-fractals/blob/master/src/app.ts#L5-L6

[2017-01-16 14:40] TylorS commented on #44
First off, if you want to replace northbrook for something else, I'm not offended :)

Northbrook uses git commit messages to manage when to do releases. So if commit message lack certain information, it can not handle your releases correctly. This is why `northbrook commit` exists. For v4 the required parts of a commit are

[code]

This format is sort of a "de facto" standard originally introduced

[2017-01-16 14:50] nickbalestra commented on #44
Thanks @TylorS !
I tried using lerna as an alternative on the v3 branch and it works pretty smoothly. I'll want to work more with both in order to see which path to go.

[2017-01-21 05:52] nickbalestra commented on #60
Created a v3 branch with relative WIP PR #63  to track progress of this

[2017-01-21 12:13] jonsharratt opened #65 "Broken Build with @cycle/dom 15.0.0-rc.1"
**Code to reproduce the issue:**
1. Clean creation as of 21st Jan 2017
2. `create-cycle-app my-cycle-app`
    `ES6 (babel) + Webpack`
    `XStream, tailored for Cycle.js`
3. `cd my-cycle-app`
4. `npm start`

**Expected behavior:**
[code]

**Actual behavior:**
[code]

**Versions of packages used:**
[code]

Looks like changes are afoot (https://github.com/cyclejs/cyclejs/commit/b8a7c3649a5ea8d5c4eed

[2017-01-21 17:21] nickbalestra commented on #65
Thanks for reporting this @jonsharratt!
Yes, I think we should lock down major. I also agree on CI. I'm working on v3 branch where some of this issues should be addressed. I'll fix this and release an update.

[2017-01-22 19:31] nickbalestra commented on #65
@jonsharratt if you want feel free to give the next version a spin:

[code]

Is a WIP, feel free to follow dev and jump in with any idea/feedback on the relative issue/branch/pr

[2017-01-22 19:36] nickbalestra commented on #55
@SteveALee if you want you can give the next version a go:

[code]

the eject issue should be fixed there

[2017-01-23 08:48] jonsharratt commented on #65
Hey Nick, cheers for this! will take a look this week and start raising some issues for discussion before implementation.  Closing this issue as all in hand with the future improvements 👯

[2017-01-23 16:10] nickbalestra commented on #65
I'll rather leave this open for others until fixed.

[2017-01-26 16:45] greenkeeper[bot] opened #66 "An in-range update of validate-commit-msg is breaking the build 🚨"
## Version **2.11.0** of [validate-commit-msg](https://github.com/kentcdodds/validate-commit-msg) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/cyclejs-community/create-cycle-app/compare/greenkeeper%2Fvalidate-commit-msg-2.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      valida

[2017-01-30 14:28] nickbalestra opened #67 "Autogenerate CHANGELOG with lerna?"

[2017-01-30 19:20] nickbalestra opened #69 "including @cycle/isolate as a default dependency"
As per suggest in #45

[2017-01-30 19:22] nickbalestra opened #70 "Templating files"
Use a template engine to write file, as per suggestion in #45

[2017-01-30 20:10] #66 closed

[2017-01-30 20:11] nickbalestra commented on #65
Fixed with v3 release #63

[2017-01-30 20:11] #65 closed

[2017-01-30 20:11] nickbalestra commented on #60
addressed with #63

[2017-01-30 20:11] #60 closed

[2017-01-30 20:12] nickbalestra commented on #55
fixed with #63

[2017-01-30 20:12] #55 closed

[2017-01-30 20:13] #54 closed

[2017-01-30 20:13] #44 closed

[2017-01-30 20:13] #40 closed

[2017-01-30 20:14] #3 closed

[2017-01-30 20:31] nickbalestra commented on #50
closing this as everything seems to work 💯

[2017-01-30 20:31] #50 closed

[2017-01-30 20:40] nickbalestra opened #72 "Contributors files"
As discussed on #48

Add contributors file with a script to autogenerate it (similar to how standard [do](https://github.com/feross/standard/blob/master/bin/update-authors.sh))

[2017-01-30 21:10] SteveALee commented on #55
@nickbalestra Sorry for being late to test this. I was just going to git it a spin but can't see from the readme how to list and select the flavors, I know I did it before

[2017-01-30 21:28] #72 closed

[2017-01-30 21:36] nickbalestra commented on #55
there is only one core flavor from now on. This willl allow us to focus on it and provide a great experience instead of having multiple very basics setup. Also cause cycle [unified](https://github.com/cyclejs/cyclejs/issues/425) is coming, no more need to choose streamLib.
Custom flavors are still possible and can be installed using the `--flavor` flag.

[2017-01-30 21:40] SteveALee commented on #55
Ah, OK so I confirm the problem has gone away as the flavour has vanished :)

IS good to hear unified is coming. Though I do like the small code size / complexity of the original version

[2017-01-30 21:43] nickbalestra opened #74 "Linting"
For the moment using [standard](https://github.com/feross/standard), but [prettier](https://github.com/jlongster/prettier) could be a nice alternative or companion to it.

[2017-01-30 21:46] nickbalestra commented on #55
Thank you @SteveALee for double checking!

[2017-01-31 10:21] nickbalestra commented on #67
Note: also add validate-commit-msg when doing this

[2017-02-05 19:01] nickbalestra opened #78 "Should throw an error if --flavor is not found (instead of installing the core one)"
**Code to reproduce the issue:**
See https://github.com/cyclejs-community/create-cycle-app-flavors/pull/1#discussion_r99496449

**Actual behaviour:**
If an error is passed to the --flavor flag (ie not valid path to local, or not publised flavor,...) it silently install the core-flavor instead.

**Expected behaviour:**
Should throw and error

**Versions of packages used:**
create-cycle-app 3.0.5

[2017-02-05 19:02] jvanbruegge commented on #78
I have to add that my mistake was writing `--flavour` so it should error too if use and option that is not supported

[2017-02-05 19:07] nickbalestra commented on #78
perhaps we should support english 🇬🇧 aliases ?

[2017-02-05 22:07] jvanbruegge commented on #78
I dont think it is needed, just notify that there is a typo :)

[2017-02-06 00:22] #78 closed

[2017-02-06 17:04] jvanbruegge commented on #4
I did this here: https://github.com/cyclejs-community/create-cycle-app-flavors/blob/master/packages/cycle-scripts-one-fits-all/scripts/eject.js
eject does not leave any traces

[2017-02-07 11:48] SteveALee opened #80 "fails to run at all with crazy const error"
node version = 6.5.0
create-cycle-app version = 3.0.6 but npm page says lates is 3.0.5 ???

I did this
[code]

I got

[code]

[2017-02-07 11:56] SteveALee commented on #80
oh, scratch that. nvm-windows has thrown a major wobbly and reset node to 0.12.2.

No idea how other than something may have installed npm directly

[2017-02-07 11:56] #80 closed

[2017-02-10 23:06] xabitrigo opened #82 "Error using create-cycle-app on mac: TypeError: installPackage.indexOf is not a function"
**Code to reproduce the issue:**
$ sudo npm i -g create-cycle-app
$ create-cycle-app my-awesome-app

**Expected behavior:**
App bootstrapped inside my-awesome-app directory

**Actual behavior:**
Error:
[code]

**Versions of packages used:**
Macbook Pro
Node: v6.9.5
npm: 3.10.10
create-cycle-app: 3.0.6

[2017-02-12 22:17] SteveALee commented on #82
Same on windows :(

all version the same

[2017-02-13 08:25] nickbalestra commented on #82
I've published a patch (v3.0.7). Let me know if this fixes it

[2017-02-13 11:19] SteveALee commented on #82
Works at treat!
I should have figured was default but late and decided to call it a night :)

[2017-03-06 09:09] nickbalestra opened #85 "cycle-scripts v2"
This to quickly resume what to add to the next iteration of cycle-scripts:

BASICS:

- [x] webpack2
- [x] preset-env
- [x] uglify / minification
- [x] HtmlWebpackPlugin
- [x] JSX -> ProvidePlugin({snabb: 'snabbdom-jsx'})
- [x] cycle-dev-utils modules
- [x] inquirer -> for eject confirmation
- [x] inquirer -> for init (choose js or ts, choose streamlib -> rxjs, xstream, most)
- [x] adhoc templates

[2017-03-06 16:02] brunjick opened #86 "cycle-scripts-ts-webpack fails on Windows 10 bash"
**Code to reproduce the issue:**
`create-cycle-app cycle-ts --flavor cycle-scripts-ts-webpack`

**Expected behavior:**
Successfully finish initialization

**Actual behavior:**
[code]

**Versions of packages used:**
0.3.2

[2017-03-06 18:31] nickbalestra commented on #86
Thanks @brunjick for reporting this.
The 'cycle-scripts-ts-webpack' flavor is deprecated. Have you tried with [cycle-scripts-one-fits-all](https://github.com/cyclejs-community/create-cycle-app-flavors) instead?

[2017-03-06 18:41] brunjick commented on #86
@nickbalestra Thanks, it works 😊 duckduckgo sent me to that package when I searched `create-cycle-app typescript`. google does better job there.
maybe it's a good idea to include deprecated warning in [npm package readme](https://www.npmjs.com/package/cycle-scripts-ts-webpack)?

[2017-03-06 18:54] nickbalestra commented on #86
Yes that is a good idea. I'll keep this issue open for that. Thanks again

[2017-03-10 12:10] mightyiam opened #87 "How about turning this into a neutrino preset?"
https://neutrino.js.org/

[2017-03-19 12:16] kristianmandrup opened #89 "Please provide better instructions on how to add/install custom flavor"
It is not really clear how to add/install a custom flavor. I asked same question [here](https://github.com/Widdershin/cycle-scripts-widdershin/issues/1) and looked at [create-cycle-app-flavors](https://github.com/cyclejs-community/create-cycle-app-flavors) and [cycle-scripts](https://github.com/cyclejs-community/create-cycle-app/tree/master/packages/cycle-scripts) but still not clear...

I wonder

[2017-03-20 12:45] nickbalestra commented on #89
In the documentation there is a section dedicated on [custom flavors](https://github.com/cyclejs-community/create-cycle-app#custom-flavour).

where it says:
-  Flavors can be published to npm, or being used locally via the create-cycle-app CLI.
- When creating a project, you can inform which flavor you want to use with the --flavor flag

and some example are given:

[code]

I guess this is not cle

[2017-03-20 12:46] nickbalestra commented on #89
One thing I'm noticing is also that those example of custom flavors are not supported anymore, so it should perhaps use cycle-scripts-one-fits-all instead

[2017-03-20 12:51] kristianmandrup commented on #89
Yes, unfortunately it is all quite a mess... As usual. Web dev moves too fast.
My attempt at writing a clearer description can be seen [here](https://github.com/kristianmandrup/create-cycle-app-flavors)

But nowhere have I seen any docs on how to fine-tune the scripts, such as babel compile options etc. I'm so exhausted from having to spend 80% of my dev time trying to figure things out instead of

[2017-03-20 12:53] kristianmandrup commented on #89
Better remove the flavors that are obsolete ;) Too many dead ends...

[2017-03-20 14:25] geovanisouza92 commented on #89
@kristianmandrup You are welcome to suggest anything on any Cycle.js-related repo/project. Everyone on the community accept suggestions and discussion.

However, it's a small community, and we need help from everyone that is available to help.

Feel free to propose content curation to the community. :)

[2017-03-20 17:11] kristianmandrup commented on #89
@geovanisouza92 My main concern is that it is impossible to see which projects are recent, popular or outdated... would be nice with some form of better structuring than simply by category.
Perhaps we need a new site/app to better facilitate that?

[2017-03-20 17:47] geovanisouza92 commented on #89
Perhaps. Try to share your thoughts on gitter. I'm sure that we all will find a way :)

[2017-03-22 01:32] nickbalestra commented on #85
Feature branch -> https://github.com/cyclejs-community/create-cycle-app/tree/new-scripts

[2017-04-08 12:21] nickbalestra commented on #69
I think that once we add cycle-restart into the core flavor, we'll definitely need to address this -  https://github.com/Widdershin/cycle-restart#isolate

[2017-04-08 12:22] #4 closed

[2017-04-08 12:23] nickbalestra opened #92 "[CCA-Diversity] Bring typescript src into core-flavor"
Once https://github.com/cyclejs-community/create-cycle-app/pull/91 got merged

[2017-04-08 12:24] nickbalestra opened #93 "[CCA-Diversity] moving to counter example"

[2017-04-08 12:25] nickbalestra opened #94 "[CCA-Diversity] Add tests"
As per the work done in the 1-fit-all flavor, only within jest

[2017-04-08 12:25] nickbalestra opened #95 "[CCA-Diversity] css/autoprefixer"
See https://github.com/cyclejs-community/create-cycle-app/issues/58

[2017-04-08 12:26] nickbalestra opened #96 "[CCA-Diversity] Widdershin/cycle-restart"
Hot reloading

[2017-04-08 12:27] nickbalestra opened #97 "[CCA-Diversity] eslinting/prettier"
See - https://github.com/cyclejs-community/create-cycle-app/issues/74

[2017-04-08 12:28] nickbalestra opened #98 "[CCA-DIVERSITY] Support Yarn"

[2017-04-08 12:30] nickbalestra opened #99 "[CCA-Diversity] DOCS"
Docs
(once cca-diversity support js && typescript as well as different stream libraries, deprecate custom-flavors repo as everything will be centralized here)

[2017-04-10 08:33] #11 closed

[2017-04-10 08:33] #98 closed

[2017-04-10 08:34] #85 closed

[2017-04-10 08:34] #70 closed

[2017-04-10 08:40] jvanbruegge commented on #94
What is the benefit if using Jest? I looked at the docs and cannot really find one, automocking is something that i dont want too. In cycle all functions (should) are referential transperant, so no need for mocking anything
Jest looks cool for imperative React code, but i dont think there is a big gain for cycle

[2017-04-10 09:13] nickbalestra commented on #94
Jest is just built on top of jasmine, I don't think that it's value is for react only. I also think that imperative code is not really an argument here. (btw automocking is not on by default since v 14 if i remember right). Few things that comes to my mind:
- Test are run in parallel, therefore is fast.
- Failing test run first
- Snapshots could be valuable in cycle as well
- custom matchers are p

[2017-04-10 09:15] jvanbruegge commented on #94
Didn't knew about the parallel and the custom matchers, yes, that could indeed be nice

[2017-04-10 09:20] jvanbruegge commented on #92
@nickbalestra I dont think the replacements work language agnostic, for typescript I would have to add quite a few
I will move the `replacements.js` to the template folder and create a new one for typescript

[2017-04-10 09:20] jvanbruegge commented on #93
I would wait for typescript

[2017-04-10 09:23] nickbalestra commented on #92
Yes, maybe we could also think of better name, but agree that those should be within the `template/src/<language>`

[2017-04-10 09:23] jvanbruegge opened #101 "[CCA-Diversity] Move init questions to cycle-scripts"
To keep things related to the flavor in the flavor and not in create-cycle-app

[2017-04-10 09:26] nickbalestra commented on #101
I think is fair to have a better upfront DX with core-flavor.
For custom flavor yes.

[2017-04-10 09:27] jvanbruegge commented on #101
would it change something? AFAIK, the questions would only be moved to the `init.js`

[2017-04-10 09:29] nickbalestra commented on #101
Is already there. You mean removing it from the create-react-app?

[2017-04-10 09:30] jvanbruegge commented on #101
I mean [this file](https://github.com/cyclejs-community/create-cycle-app/blob/master/packages/create-cycle-app/src/initQuestions.js)

[2017-04-10 09:31] nickbalestra commented on #101
as in [this](https://github.com/cyclejs-community/create-cycle-app/blob/master/packages/cycle-scripts/scripts/init/questions.js) ?

[2017-04-10 09:31] jvanbruegge commented on #101
yes ^^, so you just have to delete the other file?

[2017-04-10 09:35] nickbalestra commented on #101
You would also want to remove the [check logic](https://github.com/cyclejs-community/create-cycle-app/blob/master/packages/create-cycle-app/src/createApp.js#L25-L33) if you want to do this.

I was thinking of the guy who doesn't read docs (as everybody) just install and run the CLI, asking upfront will make it self-understandable of what is going to happen next, then braking this into the middle o

[2017-04-10 09:38] jvanbruegge commented on #101
I dont think it matters if there is a small waiting period. You run cca without argumets, it downloads the cycle-scripts and then asks you what language and stream lib you want to use. Normal people usually wait if there is a progress bar indicating the program is doing something :)

[2017-04-10 09:42] nickbalestra commented on #101
I'm fine with either ways... Though I think is important to advertise this change to people upfront. Perhaps after a while in the future we can think of remove it. But now people don't expect any question and they fact that the core flavor support multiple languages and stream library should be promoted imho. Afterward is not a big deal so we could definitely think of removing from cca

[2017-04-10 10:16] jvanbruegge commented on #101
this has a massive downfall for us, we cant test locally. If you use the `--flavor` options the app throws an error, because `options` is not defined in `setup.js`

[2017-04-10 10:26] nickbalestra commented on #101
That's why you need to handle it on both side. For testing this you can use the `--forceprompt` flag. Left you an [example](https://github.com/cyclejs-community/create-cycle-app/pull/102#issuecomment-292908978) on the PR. I'll plan to add integration tests for it on the cca, but we should also add unit and integration tests for the flavor as well.

[2017-04-10 10:28] jvanbruegge commented on #101
Well not neccesary on both sides. Flavor side alone is enough :)

[2017-04-10 11:16] jvanbruegge opened #103 "[CCA-Diversity] Webpack config"
How to handle webpack configs:
- Vanilla
    * Only one using `webpack-merge`
    * One for each environment (dev/prod) and language
- `webpack-blocks`
cc @nickbalestra

[2017-04-10 11:29] jvanbruegge commented on #103
I would vote for `webpack-blocks`, because it has a few advantages:
- the config is divided into snippets (blocks) that can be composed, so having different configs for different languages is just a matter of composing the required blocks
- we dont have to maintain the low level webpack config, we would outsource this part (kinda, I'm co-maintainer of `webpack-blocks`)
- post-eject the config is r

[2017-04-10 11:45] nickbalestra commented on #103
Why I think that core-flavor shouldn't use webpack-block (and that's doesn't mean i don't see flavors being built with it, or webpack-blocks being bad, they are pretty awesome!)

- CCA is made to hide complexity away, so mantaining the low-level part of that complexity is the CLI (our) job. I wouldn't therefore 'outsource' this to yet another project/dependency.
- as a CCA mantainer I want to have

[2017-04-10 11:57] jvanbruegge commented on #103
- because it hides it, it does not make a difference if we maintain it or another project
- we will still have full control, The block config is completely referential transparent, so it's easy to swap a block with custom config. The blocks are designed in a way that they have sensible defaults, but they dont hide config if you want it
- we would just have to copy + replace the block src with the

[2017-04-10 12:12] #92 closed

[2017-04-10 12:17] nickbalestra opened #104 "[CCA Diversity] better integrations test coverage"
We could now rely on `installScripts.js` to pass prompt answers and test multiple combinations by snapshotting results, or simply add similar tests to the cycle-script repo as well. This make #101 it a good point for keeping questions also within the CLI as will make testing this easier due to init() being able to accept those params.

[2017-04-10 12:22] nickbalestra commented on #103
Hehe I can see you being very vocal about this, I don't have all that reluctancy for webpack configs but if you do I'm fine with either, will that make such a big difference? I'm not sure tbh...but if you believe so lets do it

[2017-04-10 12:26] nickbalestra commented on #104
Now that we got the typescript files in we should probably add tests as next thing. What you think @jvanbruegge ?

[2017-04-10 12:33] jvanbruegge commented on #103
yay
PR incoming :D

[2017-04-10 12:37] jvanbruegge commented on #103
How about `.babelrc`? I would add it to the template for two reasons:
1. People want to customize which browsers should be supported (`env-preset`)
2. For typescript I have to share the config, and it's easier this way

[2017-04-10 12:53] nickbalestra commented on #103
1. we could simply have exposed a browser list on package.json but then this open the question to build/minify as I decided to use uglify meaning that babel will tell all its plugin to transpile to es5 in order not to brake it. Im not a big fan of babili, in quite few cases I've seen packages being way less optimal then simply doing a two pass ->es5 -> uglify. At that point setting the env-preset

[2017-04-10 12:58] jvanbruegge commented on #103
1. If we use uglify, we should not use the env-prefix
2. i might be able to use the loader options

[2017-04-10 13:03] nickbalestra commented on #103
1. Why? You can use env preset with it just have to use the specific settings. Actually 'env' preset support not just browser lists but also env like 'es5' and thats' what happen behind the scene when you set 'uglify: true' in it the env preset options. And that's what babel recomend to use over es-2015. I noted it somewhere, I'll rather create a cycle-preset down the road and set it as per our li

[2017-04-10 13:05] jvanbruegge commented on #103
ok

[2017-04-10 13:07] jvanbruegge commented on #104
yeah, integration tests would be good
however i would wait with #94 until #103

[2017-04-10 13:11] nickbalestra commented on #104
Perhaps after #103 but before we move forward (#94 goes with #93 i guess).

[2017-04-10 13:13] jvanbruegge commented on #104
the integration tests can be written before #103

[2017-04-15 09:55] jvanbruegge commented on #97
I would use eslint/tslint, with the configs exposed to the user
most companies and users have their own style guide, so they should be able to just replace the default linting config with their own

[2017-04-15 10:00] jvanbruegge commented on #86
better to use `npm deprecate`
would do it myself, but I have only publishing rights for the `one-fits-all` flavor

[2017-04-15 21:11] jvanbruegge commented on #97
I, for example absolutly hate 2 space indentation and having no semicolons. And I dont want to eject just because of that

[2017-04-16 12:11] jvanbruegge opened #107 "[CCA-Diversity] Move back to webpack CLI"
The custom webpack dev server does not emit typescript checking errors.
And the build script aborts the compilation if there is a type checking error. Normally typescript would emit, even if there is a mistake

[2017-04-16 14:42] jvanbruegge commented on #107
Plus this would not leave traces on eject

[2017-04-16 14:44] jvanbruegge commented on #107
we might have to create a plugin for stuff like build size reporting

[2017-04-17 10:05] nickbalestra commented on #103
As Diversity mean streamLib support, not related to language. Webpack.config doesn't need to be altered for the moment. This issue can be therefore closed

[2017-04-17 10:09] nickbalestra opened #108 "Typescript & Javascript prompt for cycle-scripts"
This issue to discuss if, when, and how, to bring TS and JS together within CCA & cycle-scripts.

Issues that emerged from this:

- https://github.com/cyclejs-community/create-cycle-app/issues/107
- https://github.com/cyclejs-community/create-cycle-app/issues/103
- https://github.com/cyclejs-community/create-cycle-app/issues/101

[2017-04-17 10:11] nickbalestra commented on #103
Discussion grouped in #108

[2017-04-17 10:11] #103 closed

[2017-04-17 10:11] nickbalestra commented on #107
See Discussion in #108

[2017-04-17 10:11] #107 closed

[2017-04-17 10:15] nickbalestra commented on #101
Diversity release will focus on enable diversity. The prompt will be only on stream lib (xstream, rxjs, most) and such diversity API will be in charge of pass this information to the flavor.

I suggest that as the CCA will be diversity, that prompt (streamLib) will be the only prompt at CCA level (not cycle-scripts). A flag to mute should be added.
Every other prompt is due to to flavor duties.

[2017-04-17 13:59] jvanbruegge commented on #108
I think the way it is in #105 is quite good. I don't see big tradeoffs. We use native ES6 templates that allow us to reduce code doublication and therefore a source of possible mistakes. Webpack blocks makes this aproach feasable.
I would however move from the custom build/start scripts to just spawing the webpack cli, as this allows us to completely remove traces of the flavor on eject and not li

[2017-04-23 14:52] nickbalestra opened #109 "Bring cycle-scripts-one-fits-all flavor in CCA monorepo"
Few points about this

- moving here the `cycle-scripts-one-fits-all` flavor and
- rename it to something more specific, i.e: `cycle-typescripts` (just an idea)
- being it some kind of core flavor should be able to call it simply like that: `create-cycle-app --flavor typescript'

cc @jvanbruegge

[2017-05-06 11:44] SteveALee opened #110 "Add support for pnpm"
pnpm is looking pretty solid now and is fast as it links to modules in a cach.

At some point it would be good it create-cycle-app supported it. However I found a couple of problems

# Add option for pnpm
Currently the CLI and `/src/installScripts.js` supports npm or optionally yarn

However it appears you can run `pnmp install` later and to adjust the npm node_modules layout

# Script resolution

[2017-05-06 21:17] zkochan commented on #110
So you suggest to run yarn first and then pnpm? pnpm will move folders created by yarn into `node_modules/.ignored`. pnpm won't reuse anything that was installed by yarn, so this solution would be not optimal.

Regarding the error, I don't know what can be the reason, I need to have a deeper look on it.

[2017-05-07 08:31] SteveALee commented on #110
@zkochan Thanks for taking a look.

By default it runs npm to install. And I found when I then run `pnpm install` it seemed to move things around to be the pnpm config. But I was concerned it was not 'official' supported. However I found a couple of files were then not found when trying to run the webpack dev server so is not a good solution

Re the error. I rummaged around but got lost. However a

[2017-05-30 02:56] kylecordes opened #111 "Port documented as 8000, listens on 8080"
**To reproduce the issue:**

Create a fresh app using `cycle-scripts-one-fits-all`.

`npm start`

**Expected behavior:**

Serves on documented port.

**Actual behavior:**

Documentation: "Open your browser at http://localhost:8000 to see your app."

Actual: serves on port 8080 (and emits message saying so).

**Versions of packages used:**

`"cycle-scripts-one-fits-all": "3.1.1",`

Most ideally, in

[2017-07-31 10:30] SteveALee commented on #110
Closing as the advantage of pnpn is it links to a local cache of packages and latest npm does the same.

[2017-07-31 10:35] zkochan commented on #110
No, npm does not link from the cache. And unlikely will. It copies packages from the cache, like Yarn

[2017-07-31 10:36] zkochan commented on #110
I had discussions about this with the npm team. They are not planning to support linking from the cache

[2017-07-31 10:38] SteveALee opened #114 "3.0.8 fails to install on Windows cmd"
**Code to reproduce the issue:**
npm install -g create-cycle-app

**Expected behavior:**
installs

**Actual behavior:**
lerna is not recoginised as an interal or external command

**Versions of packages used:**
latest

npm install -g create-cycle-app@3.0.7 is fine

[2017-07-31 10:40] SteveALee commented on #110
@zkochan  Ah, I was told it does! Thanks for correction.

[2017-07-31 10:43] zkochan commented on #110
As a temporary fix for this, I suggest adding a `--skip install` option (the angular-cli has it). Users can just skip installation and manually use pnpm

[2017-09-28 11:51] jvanbruegge opened #115 "Publish new version of create-cycle-app"
To deliver an important fix with package names and the option to use yarn.

@nickbalestra or optional give access rights on npm

[2017-10-04 15:34] jvanbruegge commented on #115
@geovanisouza92 I think you also could publish a new version.
Sadly I cant develop locally without yarn because of npm bugs

[2017-10-04 15:48] nickbalestra commented on #115
https://www.npmjs.com/package/create-cycle-app done, sorry for the belated answer

[2017-10-04 16:24] geovanisouza92 opened #117 "Duplicate versions of xstream"
**Code to reproduce the issue:**

    create-cycle-app example --flavor cycle-scripts-one-fits-all
    cd example
    npm run eject
    npm install --save-dev webpack-bundle-analyzer

Change webpack.config.js as the following;

[code]

    npm run build

**Expected behavior:**

Include `xstream` on the bundle only once (the blue rect)

**Actual behavior:**

Included **four** times on the bundle

!

[2017-10-04 16:30] jvanbruegge commented on #117
Will investigate tomorrow
Together with this uglify bug

[2017-10-08 12:43] #115 closed

[2017-10-08 12:44] jvanbruegge commented on #111
Fixed in the newest version

[2017-10-08 12:44] #111 closed

[2017-10-08 12:45] jvanbruegge commented on #109
Will leave it in my own repo, to have greenkeeper support, but maybe we should delete the community flavors repo

[2017-10-08 12:46] jvanbruegge commented on #114
can you check if this is still the case with 4.0?

[2017-10-08 12:46] jvanbruegge commented on #108
Done in V4

[2017-10-08 12:46] #108 closed

[2017-10-09 10:36] SteveALee commented on #114
No problem, thanks

However the [releases](https://github.com/cyclejs-community/create-cycle-app/releases) are missing 4.0.0 (and 3.0.8). Does the release process need a tweak?

[2017-10-10 22:21] jvanbruegge commented on #117
Not the case any more in one-fits-all V5

[2017-10-10 22:21] #117 closed

[2017-12-11 20:36] tiagoantao opened #120 "Documentation for internal work"
As a new cycles user, I would have appreciated some internals documentation.

For example I notice that my `index.html` is injected with something.

Also, an idea on all the magic works. I just seem to be able to run everything in development mode and that is it. Some documentation on what is going on would really help a newbie like me to outgrow create-cycle-app.

Its great that all works, but it

[2018-03-01 08:17] jikkai opened #121 "Duplicate meta tags for favicon"
**Code to reproduce the issue:**
[code]

**Expected behavior:**

Only one meta tag for favicon in complied html.

**Actual behavior:**

[/public/index.html#L6](https://github.com/cyclejs-community/create-cycle-app/blob/7b7ab8a03e103bacce4672477d0261094e81f3af/packages/cycle-scripts/template/public/index.html#L6)

[/public/index.html#L93](https://github.com/cyclejs-community/create-cycle-app/blob/7

[2018-05-02 10:59] mictian opened #122 "npm run test fails on v4.0.0"
**Code to reproduce the issue:**
`npm run test`

**Expected behavior:**
Tests to run

**Actual behavior:**

events.js:167
      throw er; // Unhandled 'error' event
      ^

**Versions of packages used:**
4.0.0

**Remarks:**
If you see the test script (file: [test.js](https://github.com/cyclejs-community/create-cycle-app/blob/master/packages/cycle-scripts/scripts/test.js) ) clearly the code was do

[2018-05-02 11:01] jvanbruegge commented on #122
The flavor that comes with create-cycle-app is not really maintained any more. I will replace it with my own `one-fits-all` flavor soon. You could use that instead.

[2018-05-02 11:02] mictian commented on #122
Thank you for your super fast replay :+1:  Got it.
In that case this issue does not have sense.

[2018-05-06 14:03] #122 closed

[2018-07-18 14:35] maxhallinan opened #123 "Incorrect DOMSource type imported for Most.js and RxJs streamLib types"
**Code to reproduce the issue:**

1. `create-cycle-app .`
1. Select TypeScript
1. Select "Most.js" or "RxJs" for "Which reactive stream library do you want to use?"
1. Open src/interfaces.ts in the generated directory

**Expected behavior:**

src/interfaces.ts should import the `DOMSource` type for the selected stream library.  This means @cycle/dom/most-typings for Most.js and @cycle/dom/rxjs-typ

[2018-10-11 16:23] olpeh commented on #121
Tried looking into the issue, but was unable to reproduce the duplicate favicon meta tag.

[2018-10-11 21:20] jvanbruegge commented on #121
Most likely due to an old version of the template, thanks for looking into it

[2018-10-11 21:20] #121 closed

[2018-11-13 18:08] cortopy commented on #111
It's a small thing but it still happens. Webpack listens on 8080

[2018-11-13 18:12] cortopy opened #124 "Reload not working"
**Code to reproduce the issue:**
1. Run `create-cycle-app my-app && cd my-app`
2. Then `npm start`
3. Edit some styles. They are loaded ok using HMR
4. Edit some text in `counter.tsx`. Webpack recompiles but browser page doesn't change
5. Refresh page in browser would either leave page blank or webpack seems stuck in `Waiting for update signal from WDS`

**Expected behavior:**
Page reloads after w

[2018-12-10 06:19] jonirrings commented on #124
for "leave page blank"
[code]

[2018-12-10 16:01] jvanbruegge commented on #124
Found the issue, waiting for a new release now

[2018-12-27 14:30] HairyCap opened #125 "create-cycle-app always create typescript version"
**Code to reproduce the issue:**

**Expected behavior:**

**Actual behavior:**

**Versions of packages used:**

[2019-01-09 07:45] wmaurer commented on #124
I ran `create-cycle-app` today, and am also experiencing `webpack-dev-server` live reload not working.
I also tried removing references to the router, i.e. I changed the App to:
[code]

Is the issue somewhere else, not in the router?

[2019-01-09 09:44] cortopy commented on #124
I've recently configured an app to use cycle and HMR, and there's something I don't undersand about `create-cycle-app`.

Webpack is configured with HMR but there is nothing I can see that manages it. The only module I've found for this is [cycle-restart](https://github.com/Widdershin/cycle-restart), but, unlike other HMR packages out there, it doesn't modify modules at compile time to make them re

[2019-03-16 10:06] weakish opened #126 "Is it safe to enable `strictFunctionTypes`?"
Currently, create-cycle-app turns off `strictFunctionTypes` checks in `.tsconfig` in the `cycle-scripts-one-fits-all` flavor.

[code]

I want to know if it is safe to remove the line `"strictFunctionTypes": false,` from `.tsconfig`
(`strict` implies `strictFunctionTypes`)?
Will this break cycle.js or xstream?

create-cycle-app version: 5.0.0

[2019-03-27 10:07] jvanbruegge commented on #126
Sorry that I answer this now, kinda missed the notification. It should be save to remove that line, as I recently updated Cycle.js to support the complete strict mode. But please let me know if it really worked!

[2019-04-15 14:21] thomastoledo opened #127 "create-cycle-app throws an error"
**Code to reproduce the issue:**
[code]

**Expected behavior:**
Should create the app

**Actual behavior:**

Prints the following message:

[code]

Here are the logs:

[code]

[2020-05-05 19:12] DavidBernal opened #128 "create-cycle-app has problems with css-loader"
**Code to reproduce the issue:**

Create a new project:

`npx create-cycle-app my-cycle`

Start the project

`cd my-cycle && npm start`

**Expected behavior:**
Run without errors

**Actual behavior:**
Console print errors:
[code]

**Versions of packages used:**
[code]

[2020-05-12 03:13] jack-cn opened #129 "Warn & error when npm start"
**Code to reproduce the issue:**

npm start

**Expected behavior:**

no warning & error

**Actual behavior:**

[code]

**Versions of packages used:**

latest

[2020-08-05 17:08] hunnble commented on #129
It seems to be caused by the options change of sass-loader@8(options -> options.sassOptions), downgrading sass-load to 7.x.x solved this problem.
Try `yarn add -D sass-loader@7`.

[2020-08-05 17:08] hunnble commented on #128
It seems to be caused by the options change of sass-loader@8(options -> options.sassOptions), downgrading sass-load to 7.x.x solved this problem.
Try `yarn add -D sass-loader@7`.

[2020-08-06 05:46] #128 closed, assigned to nobody

[2020-11-26 04:40] mitsunoir commented on #129
I got same warning & error.
`npm install sass-loader@7` didn't solve this problem.

[2020-11-26 05:33] mitsunoir commented on #129
[code]
This works in my environment.

[2021-12-27 05:19] Inktripp opened #130 "create-cycle-app"